body {
    background-color: rgb(21, 21, 21);
    color: antiquewhite;
    font-family: Tahoma, sans-serif;
    font-size: 15px;
}

img {
    height: auto;
    width: 500px;
}

.recipe {
    font-size: 20px;
}